<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="kont.css">
    <script src="/Controller/about.js"></script>
</head>
<body>
    <div class="w3-container w3-center">
        <div class="w3-container main_text">
            Kim jestem?
        </div>
        <div class="cl_dgreen submain_text">
            Wykształcenie
        </div>
        <div id="wyk" class="w3-animate-zoom cl_dblue sub_text">
            Student 3-go roku
            Kierunek: Informatyka
        </div>
        <br/>
        <div class="cl_dgreen submain_text">
            Umiejętności
        </div>
        <div class="w3-animate-zoom cl_dblue sub_text">
            C/C++, C#, Python <br/>
            HTML, CSS, JavaScript <br/>
            Windows, Linux <br/>
        </div>
        <div class="cl_dgreen submain_text">
            Zainteresowania
        </div>
        <div id="zai" class="w3-animate-zoom cl_dblue sub_text">
            Nowinki technologiczne <br/>
            Gry video <br/>
            Muzyka, szczególnie elektroniczna
        </div>
    </div>
</body>