<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="kont.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-container w3-center">
        <div class="cl_white main_text w3-animate-top">
            Doświadczenie
        </div>
        <div class="cl_dgreen submain_text w3-animate-left">
            Zawodowe
        </div>
        <div class="cl_dblue sub_text w3-animate-left">
            Praktykant - Programista C | Luxbit sp. z.o.o <br/>
            umiejętności praktyczne z programowania w języku C<br/>
            obsługa edytora NEO, Windows API oraz baz danych
        </div>
        <div class="cl_dgreen submain_text w3-animate-right">
            Aktywności dodatkowe
        </div>
        <div class="cl_dblue sub_text w3-animate-right">
            Meet.JS <br/>
            Studenckie koło Silver.NET
        </div>
        <img src="cpp.png" alt="cpp" class="w3-animate-bottom">
    </div>
</body>