.verdana{
    font-family: 'Verdana'; 
}
.main_text{
    color: #EDF5E1;
    font-size: 45pt;
}
.cl_white{
    color: #EDF5E1;
}
.cl_dgreen{
    color: #379683;
}
.ptr{
    cursor: pointer;
}
.submain_text{
    font-size: 33pt;
}
.sub_text{
    font-size: 28pt;
}
.cl_dblue{
    color: #05386B;
}
input:invalid {
    border: 2px red;
  }