<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
    <div class="w3-container w3-center">
        <div class="main_text verdana">
            Witaj na mojej stronie!
        </div>
        <div class ="main_text verdana">
            Karol Mitek
        </div>
        <img src="moje-zdjecie.gif" class="w3-round" alt="Moje Zdjecie">
    </div>
</body>