<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>

<body>
    <div class="w3-container w3-animate-opacity w3-center">
        <div class="main_text verdana">
            Witaj na mojej stronie!
        </div>
    </div>
    <div class="w3-container w3-center">
        <div class="w3-card w3-dark-grey w3-animate-opacity" style="width:20%">
            <div class="w3-container">
                <img src="moje_photo.jpg" class="w3-round" alt="Moje Zdjecie">
                <h3> Karol Mitek </h3>
            </div>
        </div>
    </div>
</body>